@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --background-color: #1e1e1e;
    --text-color: #e0e0e0;
    --viz-color: #303030;
}

html, body {
    /* height: 100%;
    width: 100%; */
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-family: 'Inter', sans-serif;
}

.rc-slider-mark-text {
    color: var(--text-color);
    font-size: 10px;
}

/* Control styling */
#category-dropdown .Select-control,
#country-dropdown .Select-control,
#nutrient-dropdown .Select-control,
#unit-dropdown .Select-control,
#water-type-dropdown .Select-control,
#erosion-risk-dropdown .Select-control,
#year-dropdown .Select-control,
#status-dropdown .Select-control {
    background-color: var(--viz-color) !important;
    border: 1px solid var(--text-color) !important;
    color: var(--text-color) !important;
}
#erosion-type-dropdown .Select-control,
#contamination-type-dropdown .Select-control {
    background-color: var(--viz-color) !important;
    border: 1px solid var(--text-color) !important;
    color: var(--text-color) !important;
}

/* Placeholder and label */
#category-dropdown .Select-value-label,
#category-dropdown .Select-placeholder,
#country-dropdown .Select-value-label,
#country-dropdown .Select-placeholder,
#nutrient-dropdown .Select-value-label,
#nutrient-dropdown .Select-placeholder,
#unit-dropdown .Select-value-label,
#unit-dropdown .Select-placeholder,
#water-type-dropdown .Select-value-label,
#water-type-dropdown .Select-placeholder,
#erosion-risk-dropdown .Select-value-label,
#erosion-risk-dropdown .Select-placeholder,
#year-risk-dropdown .Select-value-label,
#year-risk-dropdown .Select-placeholder,
#status-dropdown .Select-value-label,
#status-dropdown .Select-placeholder {
    color: var(--text-color) !important;
}
#erosion-type-dropdown .Select-value-label,
#erosion-type-dropdown .Select-placeholder,
#contamination-type-dropdown .Select-value-label,
#contamination-type-dropdown .Select-placeholder {
    color: var(--text-color) !important;
}

/* Arrow icons */
#category-dropdown .Select-arrow,
#category-dropdown .Select-arrow-zone,
#country-dropdown .Select-arrow,
#country-dropdown .Select-arrow-zone,
#nutrient-dropdown .Select-arrow,
#nutrient-dropdown .Select-arrow-zone,
#unit-dropdown .Select-arrow,
#unit-dropdown .Select-arrow-zone,
#water-type-dropdown .Select-arrow,
#water-type-dropdown .Select-arrow-zone,
#erosion-risk-dropdown .Select-arrow,
#erosion-risk-dropdown .Select-arrow-zone,
#year-dropdown .Select-arrow,
#year-dropdown .Select-arrow-zone,
#status-dropdown .Select-arrow,
#status-dropdown .Select-arrow-zone {
    color: var(--text-color) !important;
}
#erosion-type-dropdown .Select-arrow,
#erosion-type-dropdown .Select-arrow-zone,
#contamination-type-dropdown .Select-arrow,
#contamination-type-dropdown .Select-arrow-zone {
    color: var(--text-color) !important;
}

/* Options menu */
#category-dropdown .Select-menu-outer,
#country-dropdown .Select-menu-outer,
#nutrient-dropdown .Select-menu-outer,
#unit-dropdown .Select-menu-outer,
#water-type-dropdown .Select-menu-outer,
#erosion-risk-dropdown .Select-menu-outer,
#year-dropdown .Select-menu-outer,
#status-dropdown .Select-menu-outer {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    border: 1px solid var(--text-color) !important;
    margin-top: 2px;
}
#erosion-type-dropdown .Select-menu-outer,
#contamination-type-dropdown .Select-menu-outer {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    border: 1px solid var(--text-color) !important;
    margin-top: 2px;
}


/* Each option */
#category-dropdown .Select-option,
#country-dropdown .Select-option,
#nutrient-dropdown .Select-option,
#unit-dropdown .Select-option,
#water-type-dropdown .Select-option,
#erosion-risk-dropdown .Select-option
#year-dropdown .Select-option,
#status-dropdown .Select-option {
    color: var(--text-color) !important;
    padding: 10px 12px;
    margin-bottom: 4px;
    border-radius: 4px;
}
#erosion-type-dropdown .Select-option,
#contamination-type-dropdown .Select-option {
    color: var(--text-color) !important;
    padding: 10px 12px;
    margin-bottom: 4px;
    border-radius: 4px;
}

/* Focused option */
#category-dropdown .Select-option.is-focused,
#country-dropdown .Select-option.is-focused,
#nutrient-dropdown .Select-option.is-focused,
#unit-dropdown .Select-option.is-focused,
#water-type-dropdown .Select-option.is-focused,
#erosion-risk-dropdown .Select-option.is-focused,
#year-dropdown .Select-option.is-focused,
#status-dropdown .Select-option.is-focused {
    background-color: var(--viz-color) !important;
}
#erosion-type-dropdown .Select-option.is-focused,
#contamination-type-dropdown .Select-option.is-focused {
    background-color: var(--viz-color) !important;
}

/* Selected option */
#category-dropdown .Select-option.is-selected,
#country-dropdown .Select-option.is-selected,
#nutrient-dropdown .Select-option.is-selected,
#unit-dropdown .Select-option.is-selected,
#water-type-dropdown .Select-option.is-selected,
#erosion-risk-dropdown .Select-option.is-selected,
#year-dropdown .Select-option.is-selected,
#status-dropdown .Select-option.is-selected {
    background-color: var(--text-color) !important;
    color: var(--background-color) !important;
}
#erosion-type-dropdown .Select-option.is-selected,
#contamination-type-dropdown .Select-option.is-selected {
    background-color: var(--text-color) !important;
    color: var(--background-color) !important;
}

/* Input inside dropdown */
#category-dropdown .Select-input > input,
#country-dropdown .Select-input > input,
#nutrient-dropdown .Select-input > input,
#unit-dropdown .Select-input > input,
#water-type-dropdown .Select-input > input,
#erosion-risk-dropdown .Select-input > input,
#year-dropdown .Select-input > input,
#status-dropdown .Select-input > input {
    color: var(--text-color) !important;
}
#erosion-type-dropdown .Select-input > input,
#contamination-type-dropdown .Select-input > input {
    color: var(--text-color) !important;
}